/*This controls the profile image.*/
.img-circle {
    border-radius: 50%;
    width: 120pt;
    height: 120pt;
    margin-left: 15%;
}

/*This controls The Basics text.*/
.title1 > p {
  line-height: 5pt;
}

/*This controls The Basics box.*/
.title1 {
  margin-left: 80pt;
}

/*This controls The Story and content.*/
.title2{
  width: 30%;
}

/*This controls the story.*/
.title2 > h2 {
  margin-left: 8%;
  padding-left: 8%;
}

/*This controls the story text.*/
.title2 > p {
  border-left: 2px solid #C8C8C8;
  margin-left: 8%;
  padding-left: 8%;
  line-height: 15pt;
}

/*This holds the three items.*/
.box_of_three{
  margin-top: 20pt;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

/*This controls the header.*/
.your_name{
  width: 100%;
  color: white;
  background: #5499C7;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*This controls the link text*/
a {
  text-decoration: none;
  color: #5499C7;
}
